<meta charset="utf-8"/>
<meta content="ie=edge" http-equiv="x-ua-compatible">
<meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
<meta content="{{ .Description }}" name="description">
<title>YourSiteName :: {{ .Title }}</title>

{{ if .Site.IsServer }}
    {{ $style := resources.Get "css/styles.css" | postCSS (dict "config" "./assets/css/dev/postcss.config.js") }}
    <link rel="stylesheet" href="{{ $style.Permalink }}">
{{ else }}
    {{ $style := resources.Get "css/styles.css" | postCSS (dict "config" "./assets/css/postcss.config.js") | minify | fingerprint }}
    <link rel="stylesheet" href="{{ $style.Permalink }}" integrity="{{ $style.Data.Integrity }}">
{{ end }}

<!-- <link href='/images/apple&#45;touch&#45;icon.png' rel='apple&#45;touch&#45;icon' sizes='180x180'> -->
<!-- <link href='/images/favicon&#45;32x32.png' rel='icon' sizes='32x32' type='image/png'> -->
<!-- <link href='/images/favicon&#45;16x16.png' rel='icon' sizes='16x16' type='image/png'> -->
<!-- <link href='/images/site.webmanifest' rel='manifest'> -->
<!-- <link href='/favicon.ico' rel='shortcut icon'> -->

